# Environment variables
.env
credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
logs/*
!logs/.gitkeep

# Jupyter
.ipynb_checkpoints
.jupyter
*.ipynb

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
